$header-font: #3A403D;
$light-red: #bf5c52;
$burnt-red:#570D00;
$dark-gray:#0C0D0C;
$bg-color: #eafff5;


body {
  margin: 0;
  padding: 0;
  background: $bg-color;
}

/* nav {
  background: \$header-font;
  width: 100%;
  ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  }
  li {
    display: inline-block;
    margin-left: 15px;
    &:hover {
      background: white;
    }
  }
  a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    &:hover {
    color:\$header-font;
    }
  }
} */

article {
  padding: 20px;
  display: inline-block;
  width: 30%;
  text-align:center;
}

.wrapper {
  width:406px;
  height: 663px;
  background:$light-red;
  padding: 10px;
}
h2, h3 {
  color: $header-font;
}

img {
  width: 300px;
  height: 300px;
  padding: 25px;
  background: $burnt-red;
}
