body {
  margin: 0;
  padding: 0;
}

nav {
  background: #0d5634;
  width: 100%;
  ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  }
  li {
    display: inline-block;
    margin-left: 15px;
    &:hover {
      background: white;
    }
  }
  a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    &:hover {
    color:#0d5634
    }
  }
}

article {
  padding: 20px;
  display: inline-block;
  width: 30%;
  text-align:center;
}

h2 {
  color: #0d5634;
}
